<h1>Dữ liệu từ Controller gửi về là @ViewBag.infoKhachHang</h1>
<form asp-action="Index">
    <label>Nhập mã khách hàng</label>
    <input type="text" name="MaKH">
    <label>Nhập họ tên</label>
    <input type="text" name="TenKH">
    <label>Nhập địa chỉ</label>
    <input type="text" name="DiaChi">
    <input type="submit" value="Gửi dữ liệu">
</form>